body {
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
    color: white;

}



.aot {
    background-image: url(./img/header.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo {
    width: 100px;
    height: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 60px 0;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

h1 {
    font-family: "Viga", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 84px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 20px;
    text-align: center;
}

.navLink {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
}

.mt-30 {
    margin-top: 30px;
}

.navLink:hover {
    color: #AF874E;
}

.navigate {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    block-size: 30px;
    font-size: 30px;
    padding-bottom: 40px;
}

.navpic {
    block-size: 30px;
    margin-left: 20px;
}

.navpic:hover {
    filter: drop-shadow(0px 0px 6px #AF874E);
    cursor: pointer;
}

.button {
    color: white;
    text-decoration: none;
    background-color: #AF874E;
    padding: 16px;

    border-radius: 8px;
}


.section-quicklinks {
    background-color: black;
    padding: 80px 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.quickLink {
    color: #B48A4E;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex: 1;
}

.quickLink img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.buy-ticket-section {
    background-color: #272727;
    display: flex;
    align-items: center;
}

.buy-ticket-img-left {
    height: 280px;
}

.festival-info {
    padding: 40px;
    height: 200px;
    flex: 1;
}

.festival-info h2 {
    margin-block-start: 0;
}

.seperator {
    width: 1px;
    background-color: white;
    height: 200px;
    margin-right: 10px;
}

.buy-ticket-container {
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    justify-content: center;

}

.playlist {
    color: #AF874E;
    padding: 80px 80px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.video-section {
    background-image: url(/img/bottom.png);
    height: 800px;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: black;
    display: flex;
    padding: 80px 80px;

}

.half-width {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-media {
    width: 48px;

}

.footer-left {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.footer-center {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 16px;
}

input {
    height: 42px;
    flex: 1;



}

input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    padding-left: 16px;
}

.button-footer {
    width: 200px;
    border-width: 0;
    border-width: 0;
    border-radius: 0px;
}

.footer-form {
    display: flex;

}

@media(max-width: 950px) {
    .hide-mobile {
        display: none;

    }

    h1 {
        font-size: 56px;
    }


}

@media(max-width: 600px) {
    .section-quicklinks {

        flex-direction: column;
        gap: 100px;
    }



}

@media(max-width: 1050px) {
    .buy-ticket-section {

        flex-direction: column;
    }

    .buy-ticket-img-left {

        width: 100%;
        object-fit: cover;
    }

    .seperator {
        display: none;
        /* width: 1px;
    background-color: white;
    height: 200px;
    margin-right: 10px; */

    }

    .buy-ticket-container {
        padding: 20px;
        width: 80%;
        text-align: center;


    }

    .buy-ticket-container a {
        width: 90%;
        text-align: center;
    }

    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .festival-info {
        padding: 40px;
        height: 200px;
        flex: 1;
        text-align: center;

    }


}

@media(max-width: 800px) {
    footer {

        flex-direction: column;
        align-items: center;
    }



    .full-width-mobile {
        width: 100%;
        align-items: center;
    }

    .footer-left {
        text-align: center;
        margin-bottom: 32px;
    }
}